/* $Id$ */

div#sophie_header {
    border: outset;
}

#sophie_header p {
    padding-left: 1em;
}

#sophie_rpm_description p {
    padding-left: 1em;
    padding-right: 1em;
}

div.sophie_package_list {
    background: #F5F5DC;
    margin-top: 2em;
}

.sophie_package_list h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}
.sophie_package_list p {
    padding-left: 2em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0.2em;
}

.pkgid {
    font-family: monospace;
}

.filename {
    font-family: monospace;
}

.filename td {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

pre.filedata {
    padding: 2em;
    margin: 2em;
    background: #F5F5DC;
    border: outset;
}


