/* $Id$ */
/* Colored links */
a:link {
  color: #573B1D;
}

a:visited {
  color: #F7A800;
} 

/* White boxes around icones in the footer */
.sophie_footer img {
  color: #FFFFFF;
  vertical-align: middle;
}

p#sitename {
    font-size: 1.4em;
    padding-left: 1em;
}

.flat_menu li {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0em;
    display: inline;
}

.flat_menu {
    padding-left: 0em;
}

#sophie_site_path {
    font-size: 0.9em;
    padding-left: 0.2em;
}

/* body_home : Id for home part of index.html */
div#body_home {
    float:left;
    font-size: 1.2em;
    padding: 0.5em;
    width: 45%;
    overflow: hidden;
}

div#body_main {
    float:left;
    padding-left: 1em;
    padding-right: 1em;
    width: 60%;
}

div#body_additional {
    float:left;
    border: solid #573B1D;
    font-size: .85em;
    padding-left: 1.2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.75em;
    width: 35%;
    overflow: hidden;
}

div#sophie_header {
    border: none;
    background-color: #74D100;
}

#sophie_header a:visited {
  color: #F7A800;
}

#sophie_rpms_menu {
    margin-left: 1em;
    padding-left: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#sophie_rpms_menu li {
    margin-left: 0em;
    display: inline;
}

#sophie_rpm_description p {
    padding-left: 0em;
    padding-right: 0em;
    font-size: 0.9em;
}

div#sophie_search_form {
    padding-top: 1em;
    padding-left: 0.2em;
}

.result_pager {
    text-align: center;
}

.result_pager img {
    vertical-align: middle;
}

div.sophie_package_list {
    float:right;
    border: none;
    width: 50%;
    padding-left: 0.5em;
    padding-top: 0.2em;
    background: #f3f47a;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sophie_package_list h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.sophie_package_list p {
    padding-left: 2em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0.2em;
}

div.sophie_search_list {
    border: none;
    padding-left: 0.5em;
    padding-top: 0.2em;
    background: #f3f47a;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

.sophie_search_list h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.sophie_search_list p {
    padding-left: 2em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0.2em;
}

.sophie_search_list ul {
    padding-left: 4em;
    padding-right: 0em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0.2em;
}

#explorer_d {
    margin-top: 0.5em;
    margin-left: 0.2em;
}

div#exp_dir {
    margin-top: 0.5em;
    margin-left: 0.2em;
}

div#exp_file {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.5em;
    margin-left: 0.2em;
    float: left;
    border: solid #573B1D;
    width: 65%;
}

div#sophie_explorer_form {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    float: left;
    border: solid #573B1D;
    width: 30%;
}

.sophie_help h2 {
    font-size: 1.2em;
/*    margin-top: 5em;*/
    background-color: #EFF3F7;
}

.sophie_help code {
    background-color: #FFFFC0;
}

.sophie_help pre {
    background-color: #FFFFC0;
    padding: 1em;
    margin: 2em;
    border: 2px inset;
}

ul.sophie_tag {
    padding-left: 0em;
}

.sophie_tag li {
    list-style-type: none;
}

.pkgid {
    font-family: monospace;
}

.filename {
    font-family: monospace;
}

.filename td {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

pre.filedata {
    padding: 2em;
    margin: 2em;
    background: #F5F5DC;
    border: outset;
}

#w3c {
    float: right;
}
