<!-- $Id$ -->

<div id="sophie_chat">
    <form id="botform" action="[% c.uri_for('/chat') %]">
            <div id="distribselect">
            [% INCLUDE 'ajax/forms/distribselect.tt' %]
            </div>
            [% c.prototype.observe_form('botform',
            {
            url => c.uri_for('/ajax/forms/distribselect', {
            'ajax' => 1 }),
            frequency => 2,
            update => 'distribselect',
            }
            ) %]
        <input name="cmd" value="[% c.req.param('cmd') | html %]">
        <input type="submit">
    </form>
</div>
<div id="sophie_bot_help">
    <p>This page simulate the Bot behavior you may meet on IRC.</p>
</div>

<div id="sophie_bot_reply">
    [% INCLUDE 'chat/index.tt' %]
</div>
