<!-- $Id$ -->

<div id="sophie_chat">
    <form id="botform" action="[% c.uri_for('/chat') %]">
            <div id="distribselect">
            [% INCLUDE 'ajax/forms/distribselect.tt' form = 'botform' %]
            </div>
        <input name="cmd" value="[% c.req.param('cmd') | html %]">
        <input type="submit">
    </form>
</div>
<div id="sophie_bot_help">
    <p>This page simulates the Bot behavior you may meet on IRC.</p>
</div>

<div id="sophie_bot_reply">
    [% INCLUDE 'chat/index.tt' %]
</div>
