<!-- $Id$ -->

[% INCLUDE 'rpms/menu.tt' %]

<div id="sophie_body_main">

<p>Find dependencies on distribution:</p>

<form id="analysis_form" action="[% c.uri_for('/', c.req.path) %]" method="POST">
    <span id="distribselect">
    [% INCLUDE 'ajax/forms/distribselect.tt' form = 'analysis_form' %]
    </span>

    <input type="submit" name="start">
    [% c.prototype.link_to_remote( '<img src="' _ 
        c.uri_for('/static/images/openicons/32x32', 'page_text_check.png') _
        '" title="Set this choice as default" alt="Set" style="height: 1em">', {
            url      => c.uri_for('/user/prefs/set_default_distrib'),
            with     => "Form.serialize('analysis_form')",
            }, { entities => '' }, ) %]
</form>

[% IF c.req.param('start') %]
<div id="sophie_analyse">
    <p><img src="[% c.uri_for('/static', 'loading', 'computing.gif' ) %]"
    alt="Loading..."></p>
</div>
<script type="text/javascript">
    new Ajax.Updater(
    'sophie_analyse',
    '[% c.uri_for('/', c.req.path) %]',
    { asynchronous: 1, parameters: 'ajax=1&analyse=1' }
    );
</script>
[% END %]
</div>


<div id="sophie_body_additional">
    [% FOREACH loc = c.forward('/rpms/location', [ pkgid ]) %]
    [% IF loop.first %]
    <p>Analyse over:</p>
    <ul>
    [% END %]
    <li><a href="[% c.uri_for('/', c.req.path, {
        distribution => loc.distribution,
        release => loc.release,
        arch => loc.arch,
        start => 1,
        }) %]">
        [% loc.distribution | html %] / [% loc.release | html %] / [% loc.arch | html %]</a>
    </li>
    [% IF loop.last %]
    </ul>
    [% END %]
    [% END %]
</div>
