<ul id="sophie_rpms_menu" class="flat_menu">
<li><a href="[% c.uri_for('/', rpmurl) %]">Info</a></li>
<li><a href="[% c.uri_for('/', rpmurl, 'deps') %]">Deps</a></li>
<li><a href="[% c.uri_for('/', rpmurl, 'files') %]">Files</a></li>
<li><a href="[% c.uri_for('/', rpmurl, 'changelog') %]">ChangeLog</a></li>
<li><a href="[% c.uri_for('/', rpmurl, 'location') %]">Location</a></li>
</ul>
