
<form action="[% c.uri_for('/', c.req.path) %]" id="explorer_d" method="POST">
    <span id="distribselect">
    [% INCLUDE 'ajax/forms/distribselect.tt' %]
    </span>
    <input type="submit" value="Update view...">
</form>
[% c.prototype.observe_form('explorer_d',
    {
    url => c.uri_for('/ajax/forms/distribselect', { 'ajax' => 1 }),
    frequency => 1,
    update => 'distribselect',
    }
) %]


<div id="exp_dir" style="float: left; border: outset; width: 30%">
    Loading...
</div>
<div id="exp_file" style="float: left; border: outset; width: 60%">
    Loading...
</div>

<script type="text/javascript">
    new Ajax.Updater(
        'exp_dir',
        '[% dirurl %]',
        { asynchronous: 1, parameters: 'ajax=1' }
    );
    new Ajax.Updater(
        'exp_file',
        '[% fileurl %]',
        { asynchronous: 1, parameters: 'ajax=1' }
    );
</script>
