<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- $Id$ -->
<head>
    <title>Sophie[% IF metatitle %]: [% metatitle | html %][% END %]</title>
    <link rel="stylesheet" href="[% c.uri_for('/static', 'sophie.css') %]" type="text/css">
    <meta name="GENERATOR" content="Sophie [% sophieversion %]">
    <meta name="AUTHOR" content="Nanardon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="KEYWORDS" content="Sophie[% IF keywords.size -%], [%- keywords.unique.join(', ') | html -%][% END %]">
    <meta name="REVISIT-AFTER" content="[% IF metarevisite %][% metarevisite %][% ELSE %]15[% END %] days">
    <link rel="icon" href="[%- c.uri_for('/static', 'sophie.ico') -%]" type="image/x-icon">
    <script type="text/javascript" language="JavaScript" src="[% c.uri_for('/static', 'prototype.js') %]"></script>
    <script type="text/javascript" language="JavaScript" src="[% c.uri_for('/static', 'effects.js') %]"></script>
    <script type="text/javascript" language="JavaScript" src="[% c.uri_for('/static', 'dragdrop.js') %]"></script>
    <script type="text/javascript" language="JavaScript" src="[% c.uri_for('/static', 'controls.js') %]"></script>
</head>
<body>

    <div id="sophie_header">
    <a href="[% c.uri_for('/') %]">
    <img src="[% c.uri_for('/static', 'sophie.png') -%]" alt="Sophie">
    </a>
    <!-- Not yet displayed:
    <span id="sophie_login">
        [%# INCLUDE 'login/invit_login.tt' %]
    </span>
    -->
    <div id="sophie_header_menu">
        <p id="sophie_sitename">Sophie</p>
        <ul class="flat_menu">
        <li><a href="[% c.uri_for('/search') %]">Search</a></li>
        <li><a href="[% c.uri_for('/distrib') %]">Distribution</a></li>
        <li><a href="[% c.uri_for('/explorer') %]">Explorer</a></li>
        <li><a href="[% c.uri_for('/sources') %]">Source & Patches</a></li>
        <li><a href="[% c.uri_for('/chat') %]">Chat</a></li>
        <li><a href="[% c.uri_for('/help') %]">Help</a></li>
        <li><a href="[% c.uri_for('/about') %]">About</a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div id="sophie_site_path">
        [% FOREACH p = sitepath %]
        <a href="[% p.path %]">[% p.name | html %]</a>
        [% IF NOT loop.last %]&gt;[% END %]
        [% END %]
    </div>
    [% INCLUDE 'search/simple_search.tt' %]
    <div style="clear:both"></div>
    </div>

    <div id="mainpage">
