<!-- $Id$ -->
[% FOREACH rpm = xmlrpc %]
[% IF loop.first %]
<ul>
[% END %]
<li>
    <a href="[% c.uri_for('/', c.req.path, rpm.pkgid) %]"><span class="sophie_pkgid">[%
rpm.pkgid %]</span></a>
([% rpm.filename | html %])
</li>
[% IF loop.last %]
</ul>
[% END %]
[% END %]
