<!-- $Id$ -->
<div id="sophie_search_form">
<form action="[% c.uri_for('/search') %]" method="GET" id="sophie_adv_search">
[% INCLUDE 'search/adv_search.tt' %]
</form>
</div>
[%# c.prototype.observe_form('sophie_adv_search',
    {
        url => c.uri_for('/search/adv_search', { ajax => 1 }),
        update => 'sophie_adv_search',
        frequency => 5,
    }) %]

[% INCLUDE 'search/results.tt' %]
