<!-- $Id$ -->
<div id="sophie_header_search">
    <form action="[% c.uri_for('/search/results') %]">
        <input type="text" name="search" value="[% c.req.param('search') %]">
        <input type="image"
            src="[% c.uri_for('/static/images', 'search.png') %]"
            alt="Search"
            title="Search"
            style="height: 2em;">
    </form>
</div>
