<!-- $Id$ -->
<h2>Authors</h2>
<ul>
<li>Olivier Thauvin (Nanar), main developper</li>
<li>Claire Revillet (grenoya), design</li>
<li>Michael Scherer (misc), occasional coder</li>
</ul>

<h2>Code and bugtracker</h2>
The wiki, instructions for fetching code and the bugs tracker can be found on 
<a href="http://forge.ipsl.jussieu.fr/sophie/">http://forge.ipsl.jussieu.fr/sophie/</a>

<h2>License</h2>
This software is free software. You can redistribute it and/or modify
it under the same terms as Perl itself.


