<!-- $Id -->

[% IF xmlrpc.size %]

[% FOREACH file = xmlrpc %]
[% info = c.forward('/rpms/info', [ file.pkgid ]) %]
<a href="[% c.uri_for('/rpms', file.pkgid) %]">
    [% info.name | html %]-[% info.version %]-[% info.release %].[% info.arch %]
</a><br>
[% END %]

[% ELSE %]
No rpm own this file
[% END %]
