<ol>
[% FOREACH release = xmlrpc %]
<li><a href="[% c.uri_for('/', c.req.path, release) %]">[% release %]</a></li>
[% FOREACH f = c.forward('/distrib/list', [ 
    {
        'distribution' => dist.distribution,
        'release' => release,
    } 
]) %]
[% f %]
[% END %]
[% END %]
</ol>
